<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:insert="~{fragments/fragments :: head}"></head>
	<body>
		<header th:insert="~{fragments/navbar :: navbar('pizzas/create')}"></header>		
		<main class="container">	
			<th:block>
				<div class="row">
					<div class="col-12">
						
						<h3 class="text-center py-4 mb-4">
							You’re personalizing a <strong>[[${pizza.name}]]</strong>
						</h3>	

						<div class="row  justify-content-center">
							<div class="col-6">
								
								<!-- FORM -->
								<form 
									id="pizza-form"
									th:object="${pizza}"
									th:action="@{/pizzas/edit/{id} (id = ${pizza.id})}" 
									method="POST">
																		
									<div class="mb-3">
									  <label for="name" class="form-label">Name</label>
									  <input type="text" class="form-control" id="name" placeholder="Boscaiola"
									  th:field="*{name}"
									  th:errorClass="is-invalid">
									  <div 
									  th:if="${#fields.hasErrors('name')}" 
									  class="invalid-feedback">
										<ul>
											<li
											th:each="err : ${#fields.errors('name')}" 
											th:text="${err}">
											</li>
										</ul>
									  </div>
									</div>
									
									<div class="mb-3">
									  <label for="description" class="form-label">Pizza Composition</label>
									  <input type="text" class="form-control" id="description" placeholder="Ingredients"
									  th:field="*{description}"
									  th:errorClass="is-invalid">
									    <div 
									    th:if="${#fields.hasErrors('description')}" 
									    class="invalid-feedback">
									  	<ul>
									  		<li
									  		th:each="err : ${#fields.errors('description')}" 
									  		th:text="${err}">
									  		</li>
									  	</ul>
									    </div>
									  </div>								
									
									<div class="mb-3">
									  <label for="photo" class="form-label">Picture Preview</label>
									  <input type="text" class="form-control" id="photo" placeholder="https://blablabla"
									  th:field="*{photo}"
									  th:errorClass="is-invalid">
									    <div 
									    th:if="${#fields.hasErrors('photo')}" 
									    class="invalid-feedback">
									  	<ul>
									  		<li
									  		th:each="err : ${#fields.errors('photo')}" 
									  		th:text="${err}">
									  		</li>
									  	</ul>
									    </div>
									  </div>
																		
									<div class="mb-3">
									  <label for="price" class="form-label">Price</label>
									  <input type="number" step="0.01" class="form-control" id="price" placeholder="Format: 123.45"
									  th:field="*{price}"
									  th:errorClass="is-invalid">
									    <div 
									    th:if="${#fields.hasErrors('price')}" 
									    class="invalid-feedback">
									  	<ul>
									  		<li
									  		th:each="err : ${#fields.errors('price')}" 
									  		th:text="${err}">
									  		</li>
									  	</ul>
									    </div>
									  </div>
																		
									<div class="mb-3">
									  <label for="available" class="form-label">Available</label>
									  <input type="text" class="form-control" id="available" placeholder="true/false"
									  th:field="*{available}"
									  th:errorClass="is-invalid">
									    <div 
									    th:if="${#fields.hasErrors('available')}" 
									    class="invalid-feedback">
									  	<ul>
									  		<li
									  		th:each="err : ${#fields.errors('available')}" 
									  		th:text="${err}">
									  		</li>
									  	</ul>
									    </div>
									  </div>
																		
									<div class="mb-3 d-flex justify-content-between">
										<input type="submit" class="btn btn-primary btn-lg" value="Update">
										<input type="reset" class="btn btn-warning btn-lg" value="Reset">
									</div>
									
								</form>
							</div>
						</div>					
					</div>
				</div>				
			</th:block>				
		</main>
		<footer th:replace="~{fragments/fragments :: footer}"></footer>	
		<th:block th:replace="~{fragments/fragments :: scripts}"></th:block>
	</body>
</html>
